.projects {
	.all-projects {
		.project {
			position: relative;
			height: 300px;
			width: 300px;
			margin-right: 30px;
			text-decoration: none;

			cursor: pointer;
			

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				.blurb {
					height: 300px;
					.medium-description {
						opacity: 1;
						visibility: visible;
						transition: opacity 1s linear;
						-webkit-transition: opacity 1s linear;
					}
				}
				
			}
		}
		.project-wrapper {

		}
		.project-img {
			width: 300px;
		}
		.blurb {
			position: absolute;
			bottom: 0;
			background: rgba(0,0,0,.5);
			color: #fff;
			height: 100px;
			width: 100%;
			padding: 15px;

			-webkit-transition: height .5s;
			transition: height .5s;

			
			.title {
				color: @primary-color;
				h3 {
					margin: 0;
				}
			}
			.short-description {

			}
			.medium-description {
				opacity: 0;
				visibility: hidden;
				transition: visibility 0s 1s, opacity 1s linear;
				-webkit-transition: visibility 0s 1s, opacity 1s linear;
			}
		}

	}
	
}


