<div class="col-xs-12">
    <div class="about page">
        <div class="col-xs-12">
            <h2>About Me</h2>
        </div>
        <div>
            <div class="description col-xs-12 col-sm-7">
	            <p>This site serves as the starting point of ericethington.com. The purpose of ericethington.com is two parts. One, a place for me to show off my personal projects and two, to help people get to know me a little better. From now on every time I create a new personal project I will put a link here.</p>
	            <p>I graduated in Computer Science from Brigham Young University on April 2013. I have been working as a Front-end Web developer ever since. While in college I had an internship for a year where I got my taste for web development and decided that’s the career I wanted.</p>
	            <p>I also have a strong interest in Psychology. I graduated with a minor simply because I liked it. I read psychology type book often and I am fascinated with how people work.</p>
	            <p>I have a smart and beautiful wife that I love very much. We are best friends. We love spending time with each other and sharing our big ideas with each other.</p>
	            <p>That’s a little bit about me. I hope you find some interest in me an my projects.</p>
	        </div>
	        <div class="profile-picture col-xs-12 col-sm-offset-1 col-sm-4"><img src="img/profile.jpg"></div>
        </div>
    </div>
</div>
