<!DOCTYPE html>
<head>
	<title>Amber Ethington</title>

    <script type="text/javascript" src="/js/lib.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
	<link href="/styles/lib.css" rel="stylesheet" type="text/css">
	<link href="/styles/main.css" rel="stylesheet" type="text/css">

</head>

<body class="preload">
    <div class="wrapper">
    	<div class="col-xs-12 header">
    		<h1 id="siteTitle" class="pull-left">Amber's Voices Lessons Practice</h1>
    		<check if="{{ isset(@SESSION['firstName']) }}">
    			<span class="logout pull-right">
					<span>Signed in as {{ @SESSION['firstName'] }}</span><br>
					<a class="pull-right" href="/logout">logout</a>
				</span>
			</check>
			

		</div>
        
        <div class="col-xs-12 mid">
