<div class="col-xs-12">
    <div class="jsflags page">
        <div class="col-xs-12">
            <h2>JSFlags</h2>
        </div>
        <div>
        	<div class="col-xs-12 col-lg-4">
        		<div>
        			<h4>Technologies used:</h4>
        			<p>Node.js, Javascript, Express, Socket.io, HTML5 canvas</p>
        		</div>
        		<h4>Description</h4>
	            <p>JSFlags is a robot AI tank game. The tanks' movement, game engine, collision detection, controls and AI logic are all written in Node.js and Javascript. The view portion uses HTML canvas manipulated using Javascript.</p>
	            <p>The tanks take commands from a Node server via Socket.io.  A programmer takes the dummy AI code and improves it to create their own awesome AI and then battle against other programmer's AI</p>
	            <p>In my IT department at work we each have been building AI to compete in a tournament soon.</p>
	            <p>I created a video where I explain how I upgraded the dummy AI to be able to navigate around obstacles and avoid other tanks.  <a href="https://www.youtube.com/watch?v=omqTgNCXfbQ" target="_blank">https://www.youtube.com/watch?v=omqTgNCXfbQ</a></p>
	        </div>
	        <div class="col-xs-12 col-lg-7 col-lg-offset-1">
	        	<a target="_blank" href="http://jsflags.ericethington.com"><h3>Live Demo</h3></a>
            	<iframe id="jsflagiframe" src="http://jsflags.ericethington.com" width="704" height="704"></iframe>
            	<h3>Github repos:</h3>
        		<p><a target="_blank" href="https://github.com/erceth/jsflags">JSFlags</a></p>
            	<p><a target="_blank" href="https://github.com/erceth/jsflags-ai">JSFlags-ai</a></p>
           	</div>
        </div>
    </div>
</div>