<div class="col-xs-12">
    <div class="projects page">
        <div class="col-xs-12">
            <h2>Projects</h2>
        </div>
        <div class="all-projects">

            <div class="project col-xs-12 col-sm-6 col-md-4 col-lg-3">
            	<a href="#">
	            	<div class="project-wrapper">
		            	<img class="project-img" src="../img/webcrawler_screenshot.png">
		            	<div class="blurb">
		            		<div class="title"><h3>Web Crawler</h3></div>
		            		<p class="short-description"><include href="{{ @webcrawler_short_description }}" /><p>
		                    <p class="medium-description"><include href="{{ @webcrawler_medium_description }}" /></p>
		                </div>
		            </div>
		        </a>
            </div>


            <div class="project col-xs-12 col-sm-6 col-md-4 col-lg-3">
            	<a href="#">
	            	<div class="project-wrapper">
		            	<img class="project-img" src="../img/tanks2.png">
		            	<div class="blurb">
		            		<div class="title"><h3>JSFlags</h3></div>
		                    <p class="description">JSFlags is an artificial intelligence tank game.</p>
		                    <p class="medium-description">Counts all the words on a web page.</p>
		                </div>
		            </div>
		        </a>
            </div>


            <div class="project col-xs-12 col-sm-6 col-md-4 col-lg-3">
            	<a href="#">
	            	<div class="project-wrapper">
		            	<img class="project-img" src="../img/google-sheets.png">
		            	<div class="blurb">
		            		<div class="title"><h3>SMS Attendance</h3></div>
		                    <p class="description">Tracks classroom attendance using SMS messaging.</p>
		                    <p class="medium-description">Counts all the words on a web page.</p>
		                </div>

		                
		            </div>
		        </a>
            </div>


        </div>
    </div>
</div>