<div class="col-xs-12">
    <div class="jsflags page">
        <div class="col-xs-12">
            <h2>SMS tracker</h2>
        </div>
        <div>
        	<div class="col-xs-12 col-lg-4">
        		<div>
        			<h4>Technologies used:</h4>
        			<p><a href="https://nodejs.org/" target="_blank">Node.js</a>, <a href="http://expressjs.com/" target="_blank">Express</a>, <a href="https://www.twilio.com/" target="_blank">Twillio</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, <a href="http://gruntjs.com/" target="_blank">Grunt</a>, <a href="https://angularjs.org" target="_blank">Angular</a>, <a href="http://mongoosejs.com/" target="_blank">Mongoose</a>, <a href="https://developers.google.com/apps-script/" target="_blank">Google Apps Script</a>, Javascript, HTML, CSS</p>
        		</div>
        		<h4>Description</h4>
	            <p>SMS messaging tracks classroom attendance and displays it using Google spreadsheet.  I used this system to keep attendance in a class for about four months.  I shared the doc with whoever needed to know the attendence.</p>
                <h4>How it works</h4>
                <p>text: "register FirstName LastName" to: provided Twilio number and wait for confirmation text.</p>
                <p>text: "here" to same number and wait for confirmation text.</p>
                <p>Attendees texts are sent to a Twillio number.  Twillio sends notification to a Node server.  Node server pulls latest texts from Twillo and updates the Mongo database.  When the Google Spreadsheet is open it pulls the data from the Mongo database, clears all the cells and replaces them with the most up-to-date data.</p>
                <div><a href="https://github.com/erceth/attendance-tracker" target="_blank">SMS Attendance Tracker Github repo </a></div>
                <div><a href="https://docs.google.com/spreadsheets/d/1BKtDlT-R3nlqEIMLs0XvrFGBAsqFqzSbAnzKaHJfJ-8/edit#gid=2132167194" target="_blank">Google spreadsheet</a></div>
	        </div>
	        <div class="col-xs-12 col-lg-7 col-lg-offset-1">
	        	<h3>Screenshots</h3>
	        	<img width="100%" src="img/google-sheets.png">
	        	<img width="100%" src="img/google-app-script.png">
	        	<img width="100%" src="img/twillio_screenshot.png">
	            	<h3>Github repo:</h3>
        		<p><a target="_blank" href="https://github.com/erceth/attendance-tracker">SMS attendance-tracker</a></p>
           	</div>
        </div>
    </div>
</div>
