/* from bootstrap */
/* hom page blobs */
.home .project {
  padding-right: 20px;
}
@media (min-width: 768px) {
  .home .project {
    height: 300px;
  }
}
.home .project:last-child {
  padding-right: 0;
}
.home .splash {
  background: #666666;
  border: 1px solid;
  border-top: 0;
}
.home .splash .item {
  max-width: 1000px;
  margin: auto;
  height: 300px;
}
@media (min-width: 480px) {
  .home .splash .item {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .home .splash .item {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .home .splash .item {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .home .splash .item {
    height: 600px;
  }
}
.home .blobs {
  padding: 10px 0;
}
@media (min-width: 992px) {
  .home .blobs .blob-container {
    padding: 0 3.33333333px 0;
  }
  .home .blobs .blob-container:first-child {
    padding-left: 0;
    padding-right: 6.66666667px;
  }
  .home .blobs .blob-container:last-child {
    padding-left: 6.66666667px;
    padding-right: 0;
  }
}
.home .blobs .blob-container .blob {
  border: 1px solid black;
  padding: 10px;
  background: #fff;
  height: 170px;
}
.home .blobs .blob-container h3 {
  margin: 0 0 10px 0;
}
.about .description {
  background: #fff;
}
.about .profile-picture img {
  width: 100%;
}
@media (max-width: 768px) {
  .about .profile-picture img {
    width: 200px;
  }
}
.jsflags #jsflagiframe {
  color: red;
}
/** WRAPPER ***/
.wrapper {
  min-height: 100%;
  position: absolute;
  padding-bottom: 60px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAADCAYAAAC56t6BAAAAG0lEQVQIW2N89uzOfykpFUZGBgYGBhCHESYCAKNpC6uuHVROAAAAAElFTkSuQmCC) repeat;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/*** HEADER ***/
header {
  background: #00628b;
  height: 60px;
}
.header-container {
  margin-left: 60px;
  margin-right: 60px;
  height: 100%;
}
@media (max-width: 767px) {
  .header-container {
    margin-left: 0;
    margin-right: 0;
  }
}
.site-title h1 {
  margin-top: 10px;
  color: #fff;
}
.logo {
  height: 60px;
  cursor: pointer;
}
.hamburger {
  position: absolute;
  right: 10px;
  top: 30px;
  display: none;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes scrolldown {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}
/* Standard syntax */
@keyframes scrolldown {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
.navigation {
  top: 30px;
  display: block;
}
.navigation .nav-list {
  float: right;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation a {
  color: #fff;
  display: block;
  padding: 5px 15px;
  text-transform: capitalize;
}
.navigation .nav-item {
  background: rgba(0, 0, 0, 0.2);
  float: left;
  border-left: 1px solid;
}
.navigation .nav-item:last-child {
  border-right: 1px solid;
}
.navigation .nav-item:hover {
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .navigation {
    display: none;
    background: red;
    position: absolute;
    top: 60px !important;
    right: 0;
    z-index: 10;
  }
  .navigation li {
    width: 100%;
  }
}
.showMobileMenu {
  display: block;
  width: 100%;
  -webkit-animation-name: scrolldown;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s;
  /* Chrome, Safari, Opera */
  animation-name: scrolldown;
  animation-duration: 4s;
}
/*** MID ***/
.mid {
  padding: 10px 60px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .mid {
    padding-left: 1px;
    padding-right: 1px;
  }
}
/*** footer ***/
footer {
  background: #666666;
  bottom: 0;
  height: 60px;
  color: #fff;
}
footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-container {
  margin-left: 60px;
  margin-right: 60px;
  overflow: hidden;
  height: 100%;
}
@media (max-width: 767px) {
  .footer-container {
    margin-left: 0;
    margin-right: 0;
  }
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
#kc {
  float: right;
}
/*fix bootstrap*/
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  padding: 0;
}
